*{
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

@media (max-width: 600px) {
    .studentsTop, .teachersTop, .classTop, .eventsTop, .galleryTop, .complaintsTop, 
    .feeRecordTop, .announcementsTop, .diaryTop, .studentsApplicationTop, .teacherApplicationTop,
    .examTop, .performanceTop, .studentTestMarksTop, .studentExamMarksTop, .admissionTop
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 10px;
    }
}